*{
    margin: 0px;
    
}

.div{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(94, 94, 216);
    height: 50px;
    width: 98%;
    border-radius: 30mm;

}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;    
}

.ul,.title,.li{
    display: inline;
}
.ul{
    padding-left: 60%;
    
}
.li{
    color: white;
    cursor:default;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}
.li:hover{
    color: rgb(161, 158, 158);
}
.header{
    z-index: 1;
    margin: 10px;
    color: white;
    width: 100%;
    padding-right:5%;
    height: 170px;
    display:inline-block;
    border-radius: 25mm;
}


#img{
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    border-radius: 50%;
    
    
}
#name{
    background-color: rgb(94, 94, 216);
    font-variant:inherit;
    position: relative;
    bottom: 68.5px;
    margin: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-radius: 20mm;
    display: inline;
}


.about{
    color: rgb(0, 0, 0);
    font-variant:normal;
    margin: 30px;
    width: 50%;
    font-size:100%;
    line-height: 25px;
}
.skill{
    display: block;
    margin: 30px;
    position:relative;
    line-height: 40px;
    
}

.base{
    display: inline-block;
    width: 600px;
    height: 23px;
    border-radius: 30mm;
    background-color: rgb(185, 185, 185);
}
.p1,.p2,.p3,.p4{
    display: inline-block;
    background-color: rgb(130, 130, 130);
    height: 23px;
    border-radius: 30mm;
    border-top-right-radius:0mm ;
    border-bottom-right-radius:0mm ;
    position: relative;
    bottom: 3px;

}
.p1{
    width: 90%;
}
.p2{
    width: 85%;
}
.p3{
    width: 80%;
}
.p4{
    width: 70%;    
}


.resume{
    background-color: rgb(220, 220, 220);
    margin: 30px;
    width: 97%;
}
.resimg{
    width: 220px;
    height: 250px;
    margin-bottom: -4px;
}
.im{
    background-color:rgb(130, 130, 130); 
}
.obj{
    margin:20px ;
    width: 500px;
    line-height: 25px;
    /* position: relative;
    bottom: 125px; */
    left:300px ;
}
.Edu{
    margin:20px ;
}
.resskill{
    margin:20px ;
}
.personal{
    margin: 20px;
}
.a{
    
    text-decoration: none;
}
.a:hover{
    
    text-decoration:underline;
}
tr{
    line-height: 25px;
}
.contact{
    margin: 30px;
}